langchain
langchain-community
langchain-co
langchain-text-splitters
langchain-huggingface
bs4
chromadb
streamlit
langchain-google-genai
python-dotenv
faiss-cpu
sentence-transformers
httpx
streamlitreamlit