langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
bs4
chromadb
streamlit
python-dotenv
faiss-cpu
sentence-transformers
httpx
pdfplumber
ragas
langchain-openai
langchain-google-genai